body {
  margin: 0px auto;
  padding: 0px;
  height: 2000px;
}
h1 {
  font-size: 35px;
  margin-top: 60px;
}
h1 p {
  text-align: center;
  margin: 0px;
  font-size: 18px;
  text-decoration: underline;
  color: white;
}

html {
  font-family: "Valera Round", sans-serif;
}

input[type="text"],
select {
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #fbac00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f59f00;
}

div {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.bruhh {
  display: inline-block;
  margin-left: 25%;
}

.bruhhh {
  display: inline-block;
  margin-left: 0px;
}

.bruh {
  text-align: center;
}
